.btn-social-alt i {
    position: relative;
    top: 0px;
    margin-right: 13px;
    margin-left: 0;
    font-size: 1.78571em;
}

.btn-social-alt span {
    font-size: 0.9em;
}

.form-newsletter-sidebar > div > div > form {


    & .pipz-form-group > .pipz-fields-container {

        border: solid 1px $cinza-light;

    }

}

.form-newsletter-sidebar > div > div > form > .pipz-button-container > .pipz-button {

        width: 100% !important;
        text-align: center !important;

}