/* main: rella-admin.scss*/

.rella-icon-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: left;

	.icon-container {
		margin-right: 15px;

		svg,
		img {
			width: 45px;
			height: auto;
		}
	}
	h5,
	p {
		padding: 0;
		margin: 0;
		color: #000;
	}
	h5 {
		font-size: 1em;
	}
	p {
		opacity: 0.8;
	}
}
