/*
 * Name:        Boo Theme Portfolio - RTL
 * Written by: 	Themerella - (http://themerella.com)
 * Version:     1.0.0
*/
.masonry-filters.default ul,
.masonry-filters.default .filters-toggle-link {
  float: right;
}

.masonry-filters.default .filters-toggle-link svg {
  -webkit-transform: translateY(25%) rotateZ(180deg);
      -ms-transform: translateY(25%) rotate(180deg);
          transform: translateY(25%) rotateZ(180deg);
}

.masonry-filters.default li > span:first-child span:after {
  left: auto;
  right: 0;
}

.masonry-filters.default li .counter {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
      transform: translateX(-100%);
}

.masonry-filters.default li.active > span:first-child span:after, .masonry-filters.default li:hover > span:first-child span:after {
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
      transform-origin: right center;
}

.masonry-filters.default:hover li > span span {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
      transform: translateX(0);
}

.masonry-filters.default:hover li:not(.active) .counter span {
  -webkit-transform: translateX(300%);
  -ms-transform: translateX(300%);
      transform: translateX(300%);
}

.masonry-filters.grid-transition-started li .counter span {
  -webkit-transform: translateX(110%) !important;
  -ms-transform: translateX(110%) !important;
      transform: translateX(110%) !important;
}

.portfolio-nav .next {
  float: left;
}

.portfolio-nav .next i {
  margin-left: 0;
  margin-right: 6px;
}

.portfolio-nav .next .fa-angle-right:before {
  content: "\f104";
}

.portfolio-nav .prev i {
  margin-right: 0;
  margin-left: 6px;
}

.portfolio-nav .prev .fa-angle-left:before {
  content: "\f105";
}

.portfolio-likes i {
  margin-right: 0;
  margin-left: 5px;
}

.portfolio-item .portfolio-footer .btn .fa-long-arrow-right:before {
  content: "\f177";
}

.portfolio-item:not(.style-hover) .portfolio-footer .btn .fa-share {
  margin: 0;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.portfolio-item.grid .like-loader {
  left: auto;
  right: -3px;
}

.portfolio-item.grid .portfolio-share-popup {
  right: auto;
  left: 0;
}

.portfolio-item.grid .portfolio-share-popup:before {
  right: auto;
  left: 16px;
}

.portfolio-item.grid.hover-side .portfolio-content, .portfolio-item.grid.hover-bottom-left .portfolio-content {
  padding-right: 25px;
  padding-left: 25px;
  text-align: right;
}

.portfolio-item.grid:not(.style-hover) .portfolio-share {
  margin-left: 0;
  margin-right: 6px;
}

.portfolio-item.style-hover .portfolio-footer {
  direction: ltr;
}

.portfolio-item.style-hover .like-loader {
  left: auto;
  right: -7px !important;
}

.portfolio-item.hover-side .portfolio-content {
  text-align: right;
  padding-right: 4.8%;
  padding-left: 34%;
}

.portfolio-item.hover-side .portfolio-footer {
  right: auto;
  left: 0;
}

.portfolio-item.hover-side .portfolio-footer:before {
  left: auto;
  right: 0;
  -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translateX(-25%) translateY(-34%) rotateZ(-78deg);
      -ms-transform: translateX(-25%) translateY(-34%) rotate(-78deg);
          transform: translateX(-25%) translateY(-34%) rotateZ(-78deg);
}

.portfolio-item.hover-side:hover .portfolio-footer:before {
  -webkit-transform: translateX(25%) translateY(-34%) rotateZ(-58deg);
      -ms-transform: translateX(25%) translateY(-34%) rotate(-58deg);
          transform: translateX(25%) translateY(-34%) rotateZ(-58deg);
}

.portfolio-item.hover-elegant .portfolio-content {
  direction: ltr;
}

.portfolio-item.hover-bottom-left .portfolio-content {
  padding-right: 4%;
  padding-left: 34%;
  text-align: right;
}

.portfolio-item.classic:not(.style-hover) .portfolio-main-image {
  left: auto;
}

.portfolio-item.classic:not(.style-hover) .portfolio-content {
  margin-left: 0;
  margin-right: 66.66666667%;
}

.portfolio-item.classic:not(.style-hover) .portfolio-footer .btn span i {
  margin-left: 0;
  margin-right: 6px;
}

.portfolio-item.classic:not(.style-hover) .portfolio-share-popup {
  left: auto;
  right: 100%;
  -webkit-transform: translateX(-8%) translateY(-50%) scaleX(1.05);
      -ms-transform: translateX(-8%) translateY(-50%) scaleX(1.05);
          transform: translateX(-8%) translateY(-50%) scaleX(1.05);
}

.portfolio-item.classic:not(.style-hover) .portfolio-share-popup:before {
  left: auto;
  right: -7px;
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}

.portfolio-item.classic:not(.style-hover) .portfolio-share {
  padding-right: 0;
  padding-left: 14px;
  margin-left: 0;
  margin-right: 10px;
}

.portfolio-item.classic:not(.style-hover).item-left .portfolio-main-image {
  left: auto;
  right: 33.33333333%;
}

.portfolio-item.classic:not(.style-hover).item-inside.item-left .portfolio-content {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.portfolio-item.classic:not(.style-hover).item-inside.item-right .portfolio-content {
  -webkit-transform: translate3d(50%, 0, 0);
          transform: translate3d(50%, 0, 0);
}

.portfolio-item.classic .portfolio-likes .like-loader {
  left: auto !important;
  right: 1px;
}
