.flipbox {
		position: relative;
		-webkit-perspective: 1200px;
		perspective: 1200px;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
}

.flipbox .flipbox-container {
		height: 100%;
		-webkit-perspective: 1200px;
		perspective: 1200px;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
}

.flipbox .flipbox-head,
.flipbox .flipbox-foot {
		height: 100%;
		border-radius: 5px;
		background-size: cover !important;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
		-webkit-transition-timing-function: cubic-bezier(0.3, 0, 0.25, 1);
		transition-timing-function: cubic-bezier(0.3, 0, 0.25, 1);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		/* vc frontend editor*/
}

.flipbox .flipbox-head > .row,
.flipbox .flipbox-head > .vc_row,
.flipbox .flipbox-head > .vc_element,
.flipbox .flipbox-head > .vc_element > .vc_row,
.flipbox .flipbox-foot > .row,
.flipbox .flipbox-foot > .vc_row,
.flipbox .flipbox-foot > .vc_element,
.flipbox .flipbox-foot > .vc_element > .vc_row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateZ(35px) scale(0.81);
		transform: translateZ(35px) scale(0.81);
}

.flipbox .flipbox-head > .row > .wpb_column,
.flipbox .flipbox-head > .vc_row > .wpb_column,
.flipbox .flipbox-head > .vc_element > .wpb_column,
.flipbox .flipbox-head > .vc_element > .vc_row > .wpb_column,
.flipbox .flipbox-foot > .row > .wpb_column,
.flipbox .flipbox-foot > .vc_row > .wpb_column,
.flipbox .flipbox-foot > .vc_element > .wpb_column,
.flipbox .flipbox-foot > .vc_element > .vc_row > .wpb_column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
}

.flipbox .flipbox-head .vc_element,
.flipbox .flipbox-foot .vc_element {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 0;
}

.flipbox .flipbox-head p:empty,
.flipbox .flipbox-foot p:empty {
		display: none !important;
}

.flipbox .flipbox-head {
		background: #f42958;
}

.flipbox .flipbox-foot {
		background: #ccc;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
		background: #df0b3c;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-perspective: 1000px;
		perspective: 1000px;
}

.flipbox .flipbox-foot-content {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
}

.flipbox .flipbox-foot-content a {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
}

.flipbox:hover .flipbox-head {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
}

.flipbox:hover .flipbox-foot {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
}

.flipbox.flipbox-right-to-left .flipbox-foot {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
}

.flipbox.flipbox-right-to-left:hover .flipbox-head {
		-webkit-transform: rotateY(-180deg);
		transform: rotateY(-180deg);
}

.flipbox.flipbox-right-to-left:hover .flipbox-foot {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
}

.flipbox.flipbox-top-to-bottom .flipbox-foot {
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
}

.flipbox.flipbox-top-to-bottom:hover .flipbox-head {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
}

.flipbox.flipbox-top-to-bottom:hover .flipbox-foot {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
}

.flipbox.flipbox-bottom-to-top .flipbox-foot {
		-webkit-transform: rotateX(-180deg);
		transform: rotateX(-180deg);
}

.flipbox.flipbox-bottom-to-top:hover .flipbox-head {
		-webkit-transform: rotateX(180deg);
		transform: rotateX(180deg);
}

.flipbox.flipbox-bottom-to-top:hover .flipbox-foot {
		-webkit-transform: rotateX(0);
		transform: rotateX(0);
}
