.subscribe-form {
		position: relative;
		/* text-align: left; // should inherit from parent*/
		/*
	* Form sizes
	*/
		/*
	* Input style
	*/
		/*
	* Button positions
	*/
		/*
	* Button style
	*/
		/*
	* Shadows
	*/
		/*
	* Shapes
	*/
		/*
	* Border thickness
	*/
		/*
	* Button Stats
	*/
}

.subscribe-form input:focus {
		outline: none;
}

.subscribe-form p {
		margin-bottom: 1.57143em;
		position: relative;
}

.subscribe-form p .wysija-submit {
		padding-top: 0;
		padding-bottom: 0;
}

.subscribe-form select,
.subscribe-form input[type=text],
.subscribe-form .wysija-submit {
		height: 60px;
		line-height: 60px;
}

.subscribe-form select,
.subscribe-form input[type=text] {
		display: block;
		width: 100%;
		padding: 0 2.5em;
		border-width: 1px;
		border-style: solid;
		border-color: #ededed;
		border-radius: 2px;
		background-color: transparent;
		line-height: 1.5em;
		-webkit-transition: background-color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
		transition: background-color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
		transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
		transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.subscribe-form select:focus,
.subscribe-form input[type=text]:focus {
		border-color: #aaa;
		background-color: #fff;
}

.subscribe-form select::-webkit-input-placeholder,
.subscribe-form input[type=text]::-webkit-input-placeholder {
		color: inherit;
}

.subscribe-form select::-moz-placeholder,
.subscribe-form input[type=text]::-moz-placeholder {
		color: inherit;
}

.subscribe-form select:-moz-placeholder,
.subscribe-form input[type=text]:-moz-placeholder {
		color: inherit;
}

.subscribe-form select:-ms-input-placeholder,
.subscribe-form input[type=text]:-ms-input-placeholder {
		color: inherit;
}

.subscribe-form input[type=text] {
		-webkit-appearance: none;
		/* fix the box-shadow issue on mobile*/
}

.subscribe-form select {
		display: inline-block;
		width: auto;
}

.subscribe-form .wysija-submit {
		display: inline-block;
		padding: 0 1.57143em;
		margin: 0;
		border: 0;
		border-radius: 2px;
		line-height: 1.5em;
		text-transform: uppercase;
		letter-spacing: 0.13em;
		outline: none;
		background-color: #f42958;
		color: #fff;
		-webkit-transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
		transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.subscribe-form .wysija-submit:hover .submit-icon {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
}

.subscribe-form .wysija-submit:hover .submit-text + .submit-icon {
		-webkit-transform: translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
}

.subscribe-form .submit-icon,
.subscribe-form .submit-text {
		display: inline-block;
		vertical-align: middle;
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
		transition: transform 0.3s ease, -webkit-transform 0.3s ease;
		line-height: 1em;
}

.subscribe-form .submit-icon {
		margin-right: 0.65em;
		font-size: 1.1em;
}

.subscribe-form .submit-icon i {
		margin: 0;
}

.subscribe-form .submit-icon:only-child {
		margin: 0;
}

.subscribe-form .submit-text + .submit-icon {
		margin-right: 0 !important;
		margin-left: 0.65em;
}

.subscribe-form .submit-text:empty {
		display: none;
}

.subscribe-form[data-plugin-subscribe-form] {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: opacity 0.3s ease, visiblity 0.3s ease;
		transition: opacity 0.3s ease, visiblity 0.3s ease;
}

.subscribe-form--is-initialized {
		opacity: 1 !important;
		visibility: visible !important;
}

.subscribe-form--size-xs select,
.subscribe-form--size-xs input[type=text],
.subscribe-form--size-xs .wysija-submit {
		height: 45px;
		line-height: 45px;
}

.subscribe-form--size-sm select,
.subscribe-form--size-sm input[type=text],
.subscribe-form--size-sm .wysija-submit {
		height: 50px;
		line-height: 50px;
}

.subscribe-form--size-md select,
.subscribe-form--size-md input[type=text],
.subscribe-form--size-md .wysija-submit {
		height: 60px;
		line-height: 60px;
}

.subscribe-form--size-lg select,
.subscribe-form--size-lg input[type=text],
.subscribe-form--size-lg .wysija-submit {
		height: 65px;
		line-height: 65px;
}

.subscribe-form--size-xl select,
.subscribe-form--size-xl input[type=text],
.subscribe-form--size-xl .wysija-submit {
		height: 70px;
		line-height: 70px;
}

.subscribe-form--input-solid select,
.subscribe-form--input-solid input[type="text"] {
		border: none;
		background-color: #fff;
		color: #000;
}

.subscribe-form--input-underlined select,
.subscribe-form--input-underlined input[type="text"] {
		background-color: transparent;
		border-top: none;
		border-right: none;
		border-bottom-width: 1px;
		border-left: none;
		border-radius: 0 !important;
}

.subscribe-form--input-underlined select:focus,
.subscribe-form--input-underlined input[type="text"]:focus {
		background-color: transparent;
}

html:not([dir=rtl]) .subscribe-form--input-underlined select, html:not([dir=rtl])
.subscribe-form--input-underlined input[type="text"] {
		padding-left: 0 !important;
}

.subscribe-form--button-inside .wysija-submit {
		position: absolute;
		bottom: 0;
		right: 0;
		min-height: 100%;
		max-height: 100%;
}

.subscribe-form--button-inside label ~ .wysija-submit {
		min-height: 0;
}

.subscribe-form--button-inside.subscribe-form--button-bordered .wysija-submit {
		bottom: 1px;
		height: calc(100% - 2px);
		min-height: calc(100% - 2px);
		border-top: none;
		border-bottom: none;
		border-right: none;
}

.subscribe-form--button-inside.subscribe-form--button-bordered .submit-text,
.subscribe-form--button-inside.subscribe-form--button-bordered .submit-icon {
		margin-top: 0;
}

.subscribe-form--button-inside.subscribe-form--button-bordered.subscribe-form--border-thick .wysija-submit {
		bottom: 2px;
		height: calc(100% - 4px);
		min-height: calc(100% - 4px);
}

.subscribe-form--button-inside.subscribe-form--button-bordered.subscribe-form--border-thicker .wysija-submit {
		bottom: 3px;
		height: calc(100% - 6px);
		min-height: calc(100% - 6px);
}

.subscribe-form--button-inside.subscribe-form--button-naked .wysija-submit {
		padding-right: 1em;
}

.subscribe-form--button-inline form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
}

.subscribe-form--button-inline p,
.subscribe-form--button-inline .wysija-submit {
		vertical-align: bottom;
}

.subscribe-form--button-inline p {
		-webkit-box-flex: 1;
		-ms-flex: 1 0;
		flex: 1 0;
		padding-right: 20px;
}

.subscribe-form--button-inline input[type=text] {
		display: inline-block;
}

.subscribe-form--button-block .wysija-submit {
		/* display: block;*/
		/* width: 100%;*/
}

.subscribe-form--button-bordered .wysija-submit {
		background-color: transparent;
		border: 1px solid #f42958;
		color: #f42958;
}

.subscribe-form--button-naked .wysija-submit {
		padding-left: 0;
		padding-right: 0;
		background-color: transparent;
		border: none;
		color: #f42958;
}

.subscribe-form--button-underlined .wysija-submit {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		background-color: transparent;
		border-bottom: 1px solid #f42958;
		color: #f42958;
}

.subscribe-form--input-shadow-1 select,
.subscribe-form--input-shadow-1 input[type=text] {
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.subscribe-form--input-shadow-1 select:focus,
.subscribe-form--input-shadow-1 input[type=text]:focus {
		-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
}

.subscribe-form--input-shadow-2 select,
.subscribe-form--input-shadow-2 input[type=text] {
		-webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
		box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.subscribe-form--input-shadow-2 select:focus,
.subscribe-form--input-shadow-2 input[type=text]:focus {
		-webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
		box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.subscribe-form--sharp input[type="text"],
.subscribe-form--sharp select,
.subscribe-form--sharp .wysija-submit {
		border-radius: 0;
}

.subscribe-form--round input[type="text"],
.subscribe-form--round select,
.subscribe-form--round .wysija-submit {
		border-radius: 4px;
}

.subscribe-form--circle input[type="text"],
.subscribe-form--circle select,
.subscribe-form--circle .wysija-submit {
		border-radius: 50em;
}

.subscribe-form--border-thin select,
.subscribe-form--border-thin input[type="text"],
.subscribe-form--border-thin .wysija-submit {
		border-width: 1px;
}

.subscribe-form--border-thin .submit-text,
.subscribe-form--border-thin .submit-icon {
		margin-top: -1px;
}

.subscribe-form--border-thick select,
.subscribe-form--border-thick input[type="text"],
.subscribe-form--border-thick .wysija-submit {
		border-width: 2px;
}

.subscribe-form--border-thick .submit-text,
.subscribe-form--border-thick .submit-icon {
		margin-top: -2px;
}

.subscribe-form--border-thicker select,
.subscribe-form--border-thicker input[type="text"],
.subscribe-form--border-thicker .wysija-submit {
		border-width: 3px;
}

.subscribe-form--border-thicker .submit-text,
.subscribe-form--border-thicker .submit-icon {
		margin-top: -3px;
}

.subscribe-form--button-hide-label .wysija-submit .submit-text {
		display: none !important;
}

.subscribe-form--button-hide-label .wysija-submit .submit-icon {
		margin-left: 0 !important;
		margin-right: 0 !important;
}

.subscribe-form--button-hidden .wysija-submit {
		display: none !important;
}

/*
* Form Notifications
*/
.formError .formErrorContent {
		background: none repeat scroll 0 0 #f1cfcf;
		border: none;
		color: #a27373;
		font-family: inherit;
		font-size: 11px;
		padding: 9px;
		position: relative;
		width: 150px;
		margin-left: 15px;
}

.widget_wysija_cont .updated,
.widget_wysija_cont .login .message {
		background: none repeat scroll 0 0 #cfe8db;
		border: none;
		color: #75a277;
		font-family: inherit;
		font-size: 11px;
		padding: 9px 9px;
		position: relative;
		z-index: 5001;
}

.formWarning .formWarningContent {
		background: none repeat scroll 0 0 #f3e7d5;
		border: none;
		color: #ab9b81;
		font-family: inherit;
		font-size: 11px;
		padding: 9px;
		position: relative;
		width: 150px;
		margin-left: 15px;
}

/* Responsive*/
@media (max-width: 768px) {
		.subscribe-form--button-inline form {
				flex-direction: column;
		}
		.subscribe-form--button-inline form p {
				padding-right: 0;
		}
}

@media (max-width: 543px) {
		.subscribe-form--button-inside.subscribe-form--button-bordered input[type=text], .subscribe-form--button-inside.subscribe-form--button-solid input[type=text] {
				padding-right: 2.5em !important;
		}
		.subscribe-form--button-inside.subscribe-form--button-bordered .wysija-submit, .subscribe-form--button-inside.subscribe-form--button-solid .wysija-submit {
				height: auto !important;
				min-height: 0 !important;
				margin-top: 1em;
				position: relative;
				top: auto;
				left: auto;
				bottom: auto !important;
				border: inherit;
		}
}
